[user]
	name = chepecarlos
	email = chepecarlos@alsw.net
	username = chepecarlos
[merge]
	tool = meld
[diff]
	tool = meld
[core]
	editor = micro
[submodule]
	recurse = true
[credential]
	helper = store
[alias]
	# Alias Extras https://youtu.be/rpiUbhvVcok
	l = log --oneline --graph --decorate
	pulll = pull --rebase
	nopulll = rebase --abort
	subupdate = submodule foreach --recursive git pull origin master
	estado = status -s
	configurar = config --global --edit
	destruir = checkout .
	basurero = stash
	enmendar = commint --amend --no-edit
