[user]
	name = chepecarlos
	email = chepecarlos@alswblog.org
	username = chepecarlos
[merge]
	tool = meld
[diff]
	tool = meld
[core]
	editor = nano
[submodule]
	recurse = true
[credential]
	helper = store
[alias]
	# Alias Extras 
	l = log --oneline
	lg = log --oneline --graph --decorate
