# Tool and hot key configuration for Gromit-MPX.
#
# See https://github.com/bk138/gromit-mpx/blob/master/README.md#configuration
# for what you can configure here and how the syntax looks like.
#
# ❗ Once done editing, you have to manually restart Gromit-MPX to apply the
# made changes.
#
# Note that there is https://github.com/bk138/gromit-mpx/issues/110 which will
# eventually replace this with a proper UI.
# 

#
# Mis herramientas
#


"lapiz" = SMOOTH (color="#39d3c6" size=15 simplify=10 snap=30);
"lineas" = LINE (color="#ff095f" size=15 arrowsize=2);
"borrador" = ERASER (size = 90);	
"circulo" = CIRCLE (color="#0038ba" size=5 fillcolor="rgba(0, 0, 255, 0.25)");
"figuras" = ORTHOGONAL (color="#ff095f" size=5 simplify=15 radius=20 minlen=50 snap=40);
"super borrar" = ERASER (size = 300);


#
# Tool mappings to input devices. Not all tools are mapped in this config.
#

"default" = "lapiz";						
"default"[2] = "lineas";					
"default"[Button3] = "borrador";					
"default"[SHIFT] = "circulo";	
"default"[CONTROL] = "figuras";

# "default"[ALT] = "blue Circle";
# "default"[ALT,SHIFT] = "red Filled Circle";
# "default"[ALT,CONTROL] = "semi-transparent Circle";

#
# Hot key / undo key.
# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
#

# HOTKEY = "F9";
# UNDOKEY = "F8";
